#navbar{
    z-index: 1;
}

#footer{
    background: url(../img/cry07.jpg);
    background-color: #42669a;
    background-size: 50%;
    opacity: 0.6;
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 50px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#separator-ribbon2{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon2 .content{
    width: 150%;
    height: 50px;
    margin-left: -25%;
    border-top-left-radius: 50% ;
    border-top-right-radius: 50%;
}

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
 .form {
    width: 450px;
  }

  .card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
.select-selected {
    background-color: DodgerBlue;
  }